<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<div class="buttons">
	<center>
		<button id="newGame"  data-toggle="modal" data-target="#myModal" class="btn btn-round first_button hover"><b>NEW GAME</b></button> <!--onclick="confirmation()" -->
		<button id="joinGame" class="btn btn-round second_button hover"><b>JOIN GAME</b></button> 		
	</center> 

</div>

<style type="text/css">

	@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

	h1 {
	  color: #666666;
	  font-size: 2rem;
	  line-height: 1.5em;
	  margin:1em 0 1em 0;
	}

	.btn {
	  border: solid 3px black;
	  margin: rem;
	  width: 260px;
	  height: 60px;
	  color: #100;
	  font-weight: bold;
	  font-size: 150%;
	  text-transform: uppercase;
	}

	.btn-round {
	  border-radius: 10em;
	}
	body {
	    background-image: url("/images/background.jpg");
	    background-repeat: no-repeat; 
		background-size: 100% 100%;
	}
	.first_button {
		position: absolute;
    	top: 40%;
		left: 5%;
	}

	.second_button {
		position: absolute;
    	top: 50%;
		left: 5%;
	}
	.hover:hover {
    	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.topright {
		position: absolute;
		top: 10%;
		right: 15%;
		font-size: 32px;
	}
	.text {
	color: black;
	font: Georgia;
	}
</style>

<body>
<p class="topright text">"A warrior may have to fight a battle more than once to win it!"<p>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      </div>
      <div class="modal-body">
        Do you want to play a public or a private game?
      </div>
      <div class="modal-footer">
        <button id="leftButton" type="button" class="btn btn-primary">Public Game!</button>
        <button id="rightButton" style="margin-top:-1px" type="button" class="btn btn-primary">Private Game!</button>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
	$("#leftButton").click(function(){
    	window.location.href='/board/index';
});
	$("#rightButton").click(function(){
	    window.location.href = "<%= Rails.application.routes.url_helpers.token_token_input_path %>";
	});
</script>
