<div>
  <img id="logoImage" src="/images/download.png" alt="logo"> 
</div>

<div id="teamName" class="paragraph"></div>
</br>

<div id="messages" class="paragraph1"></div>
<div id="sunked" class="paragraph"></div>

<div class="row">
  <div class="col" >
    <table id="myTable" class="sea">
      <tr class="radar">
        <td class="tableHeader"></td>
        <% ('A'..'Z').to_a.first(Board::MATRIX_SIZE).each do |col| %>
        <td class="tableHeader">
          <%= col %>
        </td>
        <% end %>
      </tr>

      <% @board1.grid.each_with_index do |x, xi| %>
      <% lineNumber = 0 %>
        <tr>
          <td class="tableHeader"> <%= xi +1 %></td>
          <% x.each do |y| %>
            <td class="my_map" id="<%=('a'..'z').to_a[lineNumber] %>-<%=xi+1%>">
              <%= y.zero? ? 0 : y %> </td>
                <% lineNumber += 1 %>
          <% end %>
         <tr>
      <% end %>

    </table>
  </div>


  <div class="col" >
    <table id="opponentTable" class="radar">
      <tr>
        <td class="tableHeader"></td>
        <% ('A'..'Z').to_a.first(Board::MATRIX_SIZE).each do |col| %>
        <td class="tableHeader">
          <%= col %>
        </td>
        <% end %>
      </tr>
      <% @board2.grid.each_with_index do |x, xi| %>
       <% lineNumber = 0 %>  
      <tr>
        <td class="tableHeader"> <%= xi +1 %></td>
          <% x.each do |y| %>  
        <td class="enemy_map" id="<%=('A'..'Z').to_a[lineNumber] %>-<%=xi+1%>"> <%= y.zero? ? 0 : y %> </td>
            <% lineNumber += 1 %>
        <% end %>
      <tr>
      <% end %>

    </table>

  </div>
</div>

<div class="paragraph">
	<label id="displayedValue" class="value">Value: </label>
</div>
