
<header>
<h1 align="center">Where your token at?</h1>

<p>Add your token and let the games begin!</p>
</header>

<div class="container">
  <div class=row center-row">
  <%= form_tag("/input_token_controller/input", method: "post") do %>
    <div class="col-lg-4 center">
        <%= text_field_tag "Input token" %><br />
    </div>
    <div class="col-lg-4 center">
        <%= submit_tag "Join game", class:"form_button" %>
    </div>
  <% end %>
  </div>
</div>

