// Place all the styles related to the Board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  table {
      border-radius: 25px;
      border: 5px solid black;
      font-family: arial, sans-serif;
      border-spacing: 1px;
      width: 100%;
  }

  .tableHeader
  {
    background-color: white;
  }

  .row 
  {
    display: flex; 
  }

  .col
  {
    flex: 1;     
    padding: 1em;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  table tr:first-child td:first-child {
    border-top-left-radius: 10px;
  }

  table tr:first-child td:last-child {
    border-top-right-radius: 10px;
  }

  tr {
    text-align: center;
    td, th {
      padding: 10px 10px;
      border: 1px solid lightslategray;
      min-width: 45px;
    }
  }

  .enemy_map
  {
    font-size: 0px;
  }

  .my_map
  {
    font-size: 0px;
  }

  .enemy_map_struck
  {
    background-color: red;
  }

  .radar {
    background-image: url("/images/radar.gif");
    background-repeat: no-repeat; 
    background-size: 100% 100%
  }

  .sea {
    background-image: url("/images/sea2.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%
  }
  .paragraph {
    font-face:"Sans-serif";
    font-size: 20px;

  }

  .value {
    background-color: white;
  }

  .paragraph1 {
    font-face:"Sans-serif";
    font-size: 18px;
    font-weight: bold;
    color: red;
  }

