
	h1 {
	  color: #666666;
	  font-size: 2rem;
	  line-height: 1.5em;
	  margin:1em 0 1em 0;
	}

	.btn {
	  border: none;
	  color: black;
	  background-color: #96b6ea;
	  margin: 1rem;
	  width: 150px;
	  height: 40px;
	}

	.btn-round {
	  border-radius: 10em;
	}
