// Place all the styles related to the Token controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the input_token controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

header{
  background-color: #4B99AD;
  margin: 0 auto;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #5A5050;
}
.container .row {
  //background-color: #f3f3f3;
  color: #663399;
  padding: 15px 25px;
  width: 100%;
  max-width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 10%;
}

h1{
  color: #5A5050;
}
p {
  width: 30%;
  margin: 3% 35% 1% 35%;
  padding: 1%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

input{
  margin-top: 1%;
  line-height: 30px;
}
.form_button{
  background-color: #4B99AD;
  border: none;
  color: white;
  height: 40px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 100px;
  width:100%;
  padding: 10px auto;
  margin-top: 1%;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {


}

